* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}


.header {
    z-index: 999;
}


.banner {
    background-color: white;
    background-image: url(./img/godisbanner1.jpg);
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(98, 187, 255);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: black;
    font-size: 50px;
    text-align: center;
}



/* Sektion */

section {
    
   
}

/* Container för kassa */
.container {
    /*max-width: 80%;*/
    width: 100%;
    margin: auto;
    background-color: rgb(185, 216, 216);
    background-image: url(./img/godisbanner1.jpg);
   
}

.shop{
    margin-top: 0rem;
}

/* h2 Titel för kassa sektionen: Kassa */
.section-title {
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: white;

}


.cart-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    height: 500px;
}

.bx-cart{
    background-color: rgb(255, 255, 255);
    padding: 3%;
    width: 80%;
    display: inline-block;
    border-radius: 0px;
    border-top: 1px solid gainsboro;
  
}

.bx-info {

}

